.container {
  width: 100vw;
  height: 13vh;
  background-color: var(--background);

  .columnContainer {
    display: flex;
    flex-direction: column;

    .rowContainer {
      width: 100%;
      height: 12.6vh;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .logo {
        cursor: pointer;
        color: black;
        font-weight: 600;
        font-size: 30px;

        @media (max-width: 500px) {
          font-size: 24px;
        }

        @media (max-width: 400px) {
          font-size: 16px;
        }
      }

      .midOptions {
        display: flex;
        gap: 25px;
        font-size: 20px;
        color: black;
        font-weight: 500;

        & > :is(div) {
          cursor: pointer;
        }

        @media (max-width: 700px) {
          display: none;
        }
      }

      .hamburguerMenu {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          filter: brightness(10);
        }

        @media (min-width: 700px) {
          display: none;
        }
      }

      .menuContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
          left: 0;
          background: #87CEEB;

        .closeContainer {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          padding: 10px 35px;
        }

        .optionsContainer {
          width: 100vw;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          align-items: center;
          color: black;
          font-size: 30px;
          font-weight: 600;

          .option {
            transition: 0.3s;

            &:hover {
              cursor: pointer;
              font-size: 33px;
            }
          }
        }
      }

      .authOptions {
        display: flex;
        gap: 25px;
        font-size: 17px;
        font-weight: 500;
        align-items: center;
        color: black;

        .signIn {
          cursor: pointer;
          background: linear-gradient(#3d3d3d, #000000);
          padding: 1px;
          border-radius: 8px;
          color: white;
          
          .border {
            background: var(--background);
            padding: 10px 25px;
            border-radius: 8px;
            transition: 0.3s;

            &:hover {
              background: transparent;
            }
          }
        }

        & > :is(div) {
          cursor: pointer;
          background-color: var(--background);
        }
      }
    }

    .centerLine {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .line {
        width: 90vw;
        height: 2px;
        background-image: linear-gradient(to right, rgba(25, 25, 25, 0), rgba(25, 25, 25, 1), rgba(25, 25, 25, 1), rgba(25, 25, 25, 0));
      }
    }
  }
}